#partner
  .row-fluid
    .span12
      %hgroup
        %h2.wf.wf-h2
          = image_tag( "fire.gif", :alt => "" )
        %h3.ct9
          = image_tag( "hot.gif", :alt => "hot" )
          Special price only for participants!
          = image_tag( "hot.gif", :alt => "hot" )
        = image_tag( "line.gif", :alt => "" )
  .row-fluid
    .span12
      = image_tag( "hard_drive.gif", :alt => "synology 群暉" )
      .slogan Synology DS212j 20% off by showing your ticket and name tag on HITCON 2012! (Original price: NT$6,000; HIT exclusive: NT$4,800)
      = image_tag( "line_of_fire.gif", :alt => "" )
      = partial "partial/bottom"
